/* Reset */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* Color palette */
/* From: https://coolors.co/ffffff-f5f7ff-00061a-8c96b5-b9c3df-e0e7fa-426ff5-6388f7 */
:root {
   --white: #f5f7ff;
   --black: #00061a;
   --blue: #426ff5;
   --lightblue: #6388f7;
   --verylightblue: #e0e7fa;
}

body {
   background-color: var(--white);
   color: var(--black);
}

/* Fonts */
@font-face {
   font-family: Alexandria;
   src: url('./assets/fonts/Alexandria.ttf');
}

@font-face {
   font-family: Nunito;
   src: url('./assets/fonts/Nunito.ttf');
}

:root {
   --primary-font: Alexandria, sans-serif;
   --secondary-font: Nunito, sans-serif;
}

h1,
h2,
h3 {
   font-family: var(--primary-font);
}

p {
   font-family: var(--secondary-font);
}
