header {
   display: flex;
   justify-content: center;
   align-items: center;

   background-color: var(--blue);
   color: var(--white);

   height: 5em;
}

header .icon-box {
   background-color: var(--lightblue);

   width: 1.75em;
   height: 1.75em;

   border-radius: 10px;

   padding: 25px;
   margin-right: 1.5em;
}

header i {
   transform: translate(-50%, -50%);

   font-size: 2em;
}

@media (width < 400px) {
   header {
      font-size: 0.9em;
   }

   header .icon-box {
      display: none;
   }
}
